.highlight {
  position: relative;
  width: 100%;
  background-color: #ccc;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 1rem;

  &__btn {
    display: flex;
    align-items: center;
    position: relative;
    width: 15rem;
    padding: 0.5rem;
    margin-bottom: 2rem;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 1rem;
    cursor: pointer;
    outline: none;

    &--icon {
      position: absolute;
      top: 50%;
      right: 0.5rem;
      transform: translate(0, -50%);
      transition: all .5s;
    }
  }

  &__wrap {
    height: 0;
    overflow: hidden;
    transition: height .5s;
  }

  &__col {
    background-color: $c-gray;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 0.5rem;
  }

  &__title {
    font-size: 1.5rem;
    font-style: italic;
    margin: 0 0 1rem;
  }
}

xmp {
  margin: 0;
}

